body{
  margin: 0;
  padding: 0;
  background: #364b63;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider{
  background: url(bg1.jpg);
  background-size: cover;
  height: 450px;
  width: 800px;
  box-shadow: 0px 5px 8px rgba(0,0,0,.3);
  animation: animate 20s infinite;
}
@keyframes animate{
  20%{
    background: url(bg2.jpg);
    background-size: cover;
  }
  40%{
    background: url(bg3.jpg);
    background-size: cover;
  }
  60%{
    background: url(bg4.jpg);
    background-size: cover;
  }
  80%{
    background: url(bg5.jpg);
    background-size: cover;
  }
  100%{
    background: url(bg1.jpg);
    background-size: cover;
  }

}
